<div class="container mt-3">
  <table class="table" *ngIf="isActiveUser">
    <thead>
      <tr class="text-center">
        <th>Rider Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Car Name</th>
        <th>Seat Available</th>
        <th>Phone No</th>
        <th>Departure Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let value of availableRides">
        <td>{{ value.name }}</td>
        <td>{{ value.source }}</td>
        <td>{{ value.destination }}</td>
        <td>{{ value.car_Name }}</td>
        <td>{{ value.seat_Available }}</td>
        <td>{{ value.phone_no }}</td>
        <td>{{ value.departureTime }}</td>
        <td>
          <button (click)="BookNow(value)" class="btn btn-success">
            Book Now
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
