/* * {  
    background-image: url('https://img.freepik.com/free-vector/carpool-concept-illustration_114360-9298.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    font-family: 'Numans', sans-serif;
} */